nav {
    padding: 10px 20px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  nav li {
    margin: 0 15px;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    color: rgb(46, 46, 46);
  }

  nav a:hover {
    text-decoration: underline;
  }

  nav button {
    background: none;
    border: none;
    color: rgb(46, 46, 46);
    cursor: pointer;
    font-size: 16px;
  }

  nav button:hover {
    text-decoration: underline;
  }

  .hidden {
    display: none;
  }

.profile-dropdown {
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    list-style-type: none;
    margin: 0;
    flex-direction: column;
    border-radius: 5px;
  }

  .profile-dropdown li {
    margin: 5px;
  }

  .profile-dropdown button {
    color: rgb(46, 46, 46);
  }
