.profile-dropdown button.logout {
    background: #ff5a5f;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
  }

  .profile-dropdown button.logout:hover {
    background-color: #ff3a3f;
  }

  .manage-spots {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
  }
