.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .login-form-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 100%;
  }

  .login-form-modal h1 {
    margin-bottom: 20px;
  }

  .login-form-modal form {
    display: flex;
    flex-direction: column;
  }

  .login-form-modal input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .login-form-modal button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff3a3f;
    color: white;
    cursor: pointer;
  }

  .login-form-modal button:hover {
    background-color: #fc2128;
  }

  .login-form-modal p {
    color: red;
    margin: 0;
    padding: 0;
  }
